.MuiSelect-select{
    background-color: var(--background-header) !important;
    color: var(--font-color-secondary) !important;
}
.MuiSelect-icon{
    fill: var(--font-color-secondary) !important;
}
.MuiModal-backdrop{
    background-color: transparent !important;
}