.sweet-box{
    padding: 1em 2.5em;
    border-radius: 3em;
    background-color: var(--border-color);
    color: var(--font-color-primary);
    margin: 1em 2em;
    width: 100%;
    display: flex;
    .box-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33%;
        &.avatar{
            position: relative;
            display: flex;
            justify-content: center;
            img{
                width: 7em;
                position: absolute;
                bottom: -1em;
            }
        }
        &.first{
            align-items: flex-start;
            .currency-container{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-top: .5em;
                .currency-img{
                    width: 2em;
                    margin-right: .5em;
                }
            }
        }
        &.end{
            align-items: flex-end;
            .available{
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
            .progress-bar-container{
                margin-top: .5em;
                width: 100%;
                display: flex;
                flex-direction: column;
                .progress-info{
                    display: flex;
                    justify-content: space-between;
                    font-size: .5em;
                    font-weight: bold;
                }
            }
        }
    }
}