.page {
  padding: 16px 0 80px;
  min-height: calc(50vh - 72px);
}
.container {
  margin: 0 auto;
  padding: 0 32px;
  max-width: 100%;
  width: 100%;
  -webkit-transition: padding .2s ease;
  transition: padding .2s ease;
}
.page__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.page__title {
  width: auto;
  margin: 0;
  font-size: 44px;
  line-height: 52px;
  font-style: normal;
  font-weight: 700;
  -webkit-transition: color .4s;
  transition: color .4s;
  color: var(--title-font-color);
}
@media (max-width: 1440px), (orientation: portrait) {
  
.profile__wrapper {
  grid-template-columns: 1fr 1fr;
}
}
.profile__wrapper {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 40px;
}
.profile__wrapper {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
@media (max-width: 1220px) {
.profile__wrapper {
  grid-gap: 20px;
}
}
@media (max-width: 1440px), (orientation: portrait) {
.profile__wrapper {
  grid-template-columns: 1fr 1fr;
}
}
@media (max-width: 980px){
  
.profile__wrapper {
  grid-template-columns: 1fr;
}
}
@media (max-width: 980px) {
.profile__wrapper {
  grid-template-columns: 1fr;
}
}
.form__block--avatar {
  width: 100%;
  background: var(--background-body);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  border-radius: 16px;
  margin-bottom: 16px;
  padding: 24px 32px;
}
.form--avatar.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-color);
}
.form {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.form-avatar__left {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.form-avatar__img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  border: 2px solid var(--element-border-color);
  -webkit-box-shadow: var(--box-shadow-inset);
  box-shadow: var(--box-shadow-inset);
  border-radius: 40px;
  position: relative;
}
.form-avatar__img img,
.form-avatar__img svg{
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
  object-fit: scale-down;
  border-radius: 50%;
}
.form-avatar__img i {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 32px;
  height: 32px;
  border-radius: 18px;
  background: #707585;
  border: 1px solid var(--element-border-color);
  color: #fff;
  pointer-events: none;
}
.form-avatar__right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 24px;
}
.form-avatar__right .user-info__profile-name {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 4px;
  color: var(--title-font-color);
}
.user-info__profile-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--title-font-color);
}
.profile-info__id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  color: #707585;
  text-transform: uppercase;
}
.profile__logout {
  font-size: 24px;
  color: #b3b6bc;
}
.profile-info__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 16px;
}
.profile-info__socials p {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 0;
  padding-right: 16px;
}
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.socials__item:not(:last-child) {
  margin-right: 12px;
}
.socials__link.linked i {
  background: linear-gradient(273.8deg,#d96331 15.88%,#e99018 98.99%);
  color: #f6f7fc;
  border: 2px solid #f6f7fc;
}
.profile-info__extra {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: var(--background-body);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  border-radius: 16px;
  margin-bottom: 16px;
  padding: 24px 32px;
}
.profile-info__buttons {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border-color);
}
.profile-info__buttons .button {
  margin-right: 12px;
}
.button--t4 {
  background: linear-gradient(273.8deg,#d96331 15.88%,#e99018 98.99%);
  border: 2px solid var(--element-border-color);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  text-transform: uppercase;
}
.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 40px;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 20px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
  border-radius: 6px;
}
.profile-info__extra .row:not(:last-child) {
  margin-bottom: 24px;
}
.profile-info__extra .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.profile-info__extra .row .currency.currency--real, .profile-info__extra .row .points.currency--real {
  padding: 0;
}
.profile-info__extra .row .currency, .profile-info__extra .row .points {
  max-width: 50%;
  width: 100%;
}
.currency.currency--one {
  width: auto;
  padding-right: 0;
}
.currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 40px;
  padding: 0 16px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.profile-menu__wrapper {
  max-width: 568px;
}
@media (max-width: 1440px), (orientation: portrait){
  
.profile-menu__wrapper {
  max-width: 100%;
}
}
.profile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.profile-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  background: var(--background-body);
  border: 2px solid var(--element-border-color);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  margin-bottom: 16px;
  -webkit-transition: .3s all;
  transition: .3s all;
}
.profile-menu__item-link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--title-font-color);
  -webkit-transition: none;
  transition: none;
  padding: 16px;
}
.profile-menu__item-link i {
  color: var(--title-font-color);
  line-height: normal;
  margin-right: 14px;
  cursor: pointer;
}
.profile-menu__item i {
  font-size: 24px;
}
.profile-menu__item:hover, .profile-menu__item.active {
  background: linear-gradient(273.8deg,#d96331 15.88%,#e99018 98.99%);
}
.telegram-qr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #eef0f6;
  border: 2px solid var(--element-border-color);
  background: var(--background-body);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  border-radius: 12px;
  overflow: hidden;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.telegram-qr__description {
  background: linear-gradient(155.48deg,#a1ff8b -20.84%,#3f93ff 103.14%);
  padding: 24px;
  text-align: left;
  width: 100%;
  position: relative;
}
.telegram-qr__description i {
  font-size: 40px;
  display: block;
  margin-bottom: 4px;
}
.telegram-qr__description {
  text-align: left;
}
.telegram-qr__description h3 {
  margin-bottom: 4px;
}
.telegram-qr__description p {
  margin-bottom: 0;
}
.telegram-qr__img {
  width: 164px;
  height: auto;
  padding: 12px;
  background: #eef0f6;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.telegram-qr__img img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}