@import url(typography.scss);

.App {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 100vh;
    margin-top: 65px;
    -webkit-transition: background-color 0.4s;
    transition: background-color 0.4s;
    overflow: hidden;
    /* background-color: var(--background-body); */
}

.theme-dark .App .main {
  position: relative;
  z-index: 1;
  margin-left: 72px;
  -webkit-transition: margin-left 0.2s ease;
  transition: margin-left 0.2s ease;
  font-family: Montserrat, sans-serif;
  background-color: rgb(26, 26, 26);
  text-align: center;
  color: var(--font-color-primary);
}

.theme-light .App .main {
  position: relative;
  z-index: 1;
  margin-left: 72px;
  -webkit-transition: margin-left 0.2s ease;
  transition: margin-left 0.2s ease;
  font-family: Montserrat, sans-serif;
  background-color: rgb(255, 255, 255);
  text-align: center;
  color: var(--font-color-primary);
}

.App.opened .header,
.App.opened .main,
.App.opened .footer {
  margin-left: 288px;
}

.App.opened .theme-switch__wrapper .theme-switch__title {
  visibility: visible;
  opacity: 1;
  text-indent: 0;
}

@media (max-width: 1220px) {
  .header, .main, .footer {
    margin-left: 0!important;
  }
}

main {
  overflow: hidden;
  display:block;
}

